@charset 'UTF-8';

#header{
	margin:20px 20px 20px 30px; height:40px;
}

.browse-img {
	overflow:hidden;
	position: relative;	
	margin-top:14px;
}
.browse-img input {
  opacity: 0;	
  border: solid transparent;
  border-width: 0 0 100px 200px;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
  position: absolute; top: 0; right: 0; margin: 0;
}
#loader {
	width:208px;
	height:13px;
	position:absolute;
	left:40px; top:120px;
	background:url('../img/img-uploader.gif') no-repeat;	
}
#img-preview {
	padding:10px 10px 10px 20px;	
	margin-left:20px;
	width:606px;
	height:160px;
	border:1px solid grey;
}
#img-preview label{
	position:absolute;
}
#img-details {
	float:left;
	margin-right:10px;
}
#img-container {
	width:160px;
	height:120px;
	border:1px solid #ccc;
	position:absolute; margin-top:18px;
}
#img-description label{
	margin-left:175px;
}
#img-description textarea {
	width:412px; 
	height:110px;	
	margin:18px 0 0 170px;	
}

#controls{
	float:right;
	margin:16px 22px 0 0;
}
button i, .browse-img i{
	padding-right:5px;
}